<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Data Reader</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <input type="file" ref="fileInput" @change="loadSaveFile" />

        <!-- <p>Position of game name string in the save data: {{ stringPosition }}</p> -->
        <p>Extracted Game Name: {{ gameName }}</p>
        <label>Folder Name:
            <input style="width:30%" type="text" v-model="folderName" placeholder="Enter folder name...">
        </label><button @click="saveFolder">Save Folder</button><button
            @click="openDialog('Select a Folder', '/folders', confirmFolder)">Load Folder</button>

        <br>
        Loaded Save File Name: {{ saveFileName.replace(tangoSaveFolderName,'') }}
        <br>
        <label>Tango Save Folder:
            <input style="width:30%" type="text" v-model="tangoSaveFolderName" placeholder="Enter folder name...">
        </label>
        <button @click="overwriteSave">Overwrite Save</button>
        <button @click="openDialogPost('Open Save', `/save`, loadSaveFileFromAPI)">Load Save</button>
        <br>
        <button @click="setReg" :class="{ 'reg-button': settingReg }">Set REG</button>
        <button @click="setTag" :class="{ 'tag-button': settingTag }">Set TAG</button>
        <br>

        <!-- <button @click="saveFolder">Save Folder</button> -->

        <div style="width:80%; margin: 0 auto">
            <!-- <p>Chips in Folder #{{ selectedItem + 1 }}:</p> -->
            <div style="float:left; width: 50%;
        height: 85vh;
        overflow-y: scroll;">
                <table border="1">
                    <thead>
                        <tr>
                            <th>R/T</th>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Damage</th>
                            <th>Code</th>
                            <th>Element</th>
                            <th>MB</th>
                            <th>Remove</th>
                        </tr>
                    </thead>987                    <tbody>
                        <tr v-for="(chipObj, chipIndex) in rows"
                            :class="{ 'highlighted': highlightedFolderChips.includes(chipObj.chip) }"
                            style="cursor: pointer; height:2em;" @click="clickChip(chipObj, chipIndex)">

                            <!-- Reg & Tag Blocks -->
                            <td style="white-space: nowrap;">
                                <span v-if="isRegged(chipIndex)" class="reg-tag reg">REG</span>
                                <span v-if="isTagged(chipIndex)" class="reg-tag tag">TAG</span>
                            </td>
                            <td>{{ chipObj.chip.MId || chipObj.chip.SId }}</td>
                            <td><img v-if="chipObj.chip.Image != null" v-bind:src="'/img/' + chipObj.chip.Image"
                                    alt="Chip Image" width="100"></td>
                            <td>{{ chipObj.chip.Name }}</td>
                            <td>{{ chipObj.chip.Description }}</td>
                            <td>{{ chipObj.chip.Damage}}</td>
                            <td>{{ chipObj.chip.code}}</td>
                            <td>{{ chipObj.chip.Element }}</td>
                            <td>{{ chipObj.chip.MB }}</td>
                            <td><button v-if="chipObj.chip.Name != ''" @click="removeFolderChip(chipObj)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Chips view on the right -->
            <div style="    float: right;
        width: 50%;
        height: 85vh;
        overflow-y: scroll;">



                <!-- Tabs -->
                <button v-for="tab in ['Standard', 'Mega', 'Giga', 'All', 'Randomizer']" @click="currentTab = tab">{{
                    tab }}</button>
                <br>
                <label><input type="checkbox" v-model="allowFolderRules">Follow Folder Building Rules</label>
                <br>
                <div v-if="allowFolderRules">
                    <label>Max Mega: <input type="number" step="1" v-model="maxMega" style="width:10%"></label>
                    <label>Max Giga: <input type="number" step="1" v-model="maxGiga" style="width:10%"></label>
                </div>
                <br>

                <div v-if="currentTab === 'Randomizer'">
                    <!-- Comma separated list of allowed chip codes -->
                    <label>Seed:
                        <input type="text" v-model="seed"></label>
                    <br>

                    <label>Allowed Chip Codes:
                        <input type="text" v-model="allowedCodes" placeholder="E.g. A,B,C,X,Y,Z"></label>
                    <br>

                    <!-- Allowed Comma separated -->
                    <label>Allowed Elements:
                        <input type="text" v-model="allowedElements" placeholder="E.g. Fire, Aqua"></label>
                    </label>
                    <br>

                    <!-- Allowed Types checkboxes -->
                    <label><input type="checkbox" v-model="allowedTypes.Standard">Standard</label>
                    <label><input type="checkbox" v-model="allowedTypes.Mega">Mega</label>
                    <label><input type="checkbox" v-model="allowedTypes.Giga">Giga</label>
                    <br>

\

                    <label><input type="checkbox" v-model="alphabetSoup">Alphabet Soup</label>
                    <br>
                    <label v-if="alphabetSoup">Alphabet Soup Codes: <input type="text"
                            v-model="alphabetSoupCodes"></label>
                    <br>

                    <!-- Damage Range input -->
                    <label>Damage Range:
                        <input type="number" v-model="damageRange.min" placeholder="Min" style="width:30%"> -
                        <input type="number" v-model="damageRange.max" placeholder="Max" style="width:30%"></label>
                    <br>

                    <!-- MB Range input -->
                    <label>MB Range:
                        <input type="number" v-model="mbRange.min" placeholder="Min" style="width:30%"> -
                        <input type="number" v-model="mbRange.max" placeholder="Max" style="width:30%"></label>
                    <br>

                    <!-- Number of chips to generate input -->
                    <label>Number of Chips:
                        <input type="number" v-model="numChips" min="1" max="30"></label>
                    <br>

                    <div v-if="!alphabetSoup">
                        <label><input type="checkbox" v-model="includeMaxMega">Include Max Mega</label><br>
                        <label><input type="checkbox" v-model="includeMaxGiga">Include Max Giga</label><br>
                        <label><input type="checkbox" v-model="includeFailsafeMaxMega">Include Failsafe Mega</label><br>
                        <label><input type="checkbox" v-model="includeFailsafeMaxGiga">Include Failsafe Giga</label><br>
                    </div>

                    <!-- Generate Random Folder button -->
                    <button @click="generateRandomFolder">Generate Random Folder</button>
                    <br>
                    <pre style = "color: yellow">{{warnMessage}}</pre>
                    <pre>{{infoMessage}}</pre>
                </div>

                <div v-else>
                    <!-- Toggle Detailed Filter Button -->
                    <button @click="showDetailedFilter = !showDetailedFilter">Toggle Detailed Filter</button>

                    <!-- Detailed Filter Inputs -->
                    <div v-if="showDetailedFilter">
                        <label>Name:
                            <input type="text" v-model="detailedFilter.Name" placeholder="Filter by Name..."></label>
                        <button @click="toggleSort('Name')">Sort
                            <span v-if="sortField === 'Name' && sortDirection === 1">↑</span>
                            <span v-if="sortField === 'Name' && sortDirection === -1">↓</span>
                        </button>
                        <br>
                        </label>
                        <label>Description:
                            <input type="text" v-model="detailedFilter.Description"
                                placeholder="Filter by Description..."></label>
                        <button @click="toggleSort('Description')">Sort
                            <span v-if="sortField === 'Description' && sortDirection === 1">↑</span>
                            <span v-if="sortField === 'Description' && sortDirection === -1">↓</span>
                        </button>
                        <br>
                        </label>
                        <label>Damage:
                            <input type="text" v-model="detailedFilter.Damage"
                                placeholder="Filter by Damage..."></label>
                        <button @click="toggleSort('Damage')">Sort
                            <span v-if="sortField === 'Damage' && sortDirection === 1">↑</span>
                            <span v-if="sortField === 'Damage' && sortDirection === -1">↓</span>
                        </button>
                        <br>
                        </label>
                        <label>Code:
                            <input type="text" v-model="detailedFilter.Code"
                                placeholder="Filter by Code (comma separated)..."></label>
                        <button @click="toggleSort('Code')">Sort
                            <span v-if="sortField === 'Code' && sortDirection === 1">↑</span>
                            <span v-if="sortField === 'Code' && sortDirection === -1">↓</span>
                        </button>
                        <br>
                        </label>
                        <label>Element:
                            <input type="text" v-model="detailedFilter.Element"
                                placeholder="Filter by Element..."></label>
                        <button @click="toggleSort('Element')">Sort
                            <span v-if="sortField === 'Element' && sortDirection === 1">↑</span>
                            <span v-if="sortField === 'Element' && sortDirection === -1">↓</span>
                        </button>
                        <br>
                        </label>
                        <label>MB:
                            <input type="text" v-model="detailedFilter.MB" placeholder="Filter by MB..."></label>
                        <button @click="toggleSort('MB')">Sort
                            <span v-if="sortField === 'MB' && sortDirection === 1">↑</span>
                            <span v-if="sortField === 'MB' && sortDirection === -1">↓</span>
                        </button>
                        <br>
                        </label>
                    </div>
                    <div v-else>
                        <!-- Search bar -->
                        <input type="text" v-model="searchQuery" placeholder="Search for chips...">
                    </div>
                    <!-- Chips Table based on current tab -->
                    <table border="1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Damage</th>
                                <th>Code(s)</th>
                                <th>Element</th>
                                <th>MB</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- In the library chip table -->
                            <tr v-for="chip in sortedAndFilteredChips"
                                :class="{ 'highlighted': highlightedLibraryChips.includes(chip) }"
                                @click="addToFolder(chip)" style="cursor: pointer;">
                                <td>{{ chip.SId || chip.MId }}</td>
                                <td><img v-bind:src="'/img/' + chip.Image" alt="Chip Image" width="100"></td>
                                <td>{{ chip.Name }}</td>
                                <td>{{ chip.Description }}</td>
                                <td>{{ chip.Damage }}</td>
                                <td>{{ chip.Code }}</td> <!-- Since chip.Code is now just a single code string -->
                                <td>{{ chip.Element }}</td>
                                <td>{{ chip.MB }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div style="clear:both;"></div> <!-- Clearing floats -->
        </div>
        <!-- <p>Number of Folders: {{ numFolders }}</p> -->
        <div v-if="showDialog" class="modal-dialog">
            <div class="modal-content">
                <h2>{{ dialogTitle }}</h2>

                <div class="input-container">
                    <input type="text" v-model="dialogFilter" placeholder="Filter options">

                </div>

                <!-- This is the list of folders from the /wwwroot/folders directory -->
                <div class="option-list">
                    <div class="option-item" v-for="item in filteredOptions" :key="item"
                        :class="{ 'selected': item === selectedItem }" @click="selectedItem = item"
                        @dblclick="confirmDialog">
                        {{ item }}
                    </div>
                </div>

                <div class="input-container">
                    <button @click="showDialog = false">Cancel</button>
                    <button @click="confirmDialog">OK</button>
                </div>
            </div>
        </div>

    </div>


    <script src="app.js"></script>
</body>

</html>